/* CS109a.css */

body {
    background-color: white;
    font-family: 'Cambria', 'Georgia', serif;
    margin-left: .5in;
    margin-right: .5in;
    line-height: 150%;
}

h1 {
    text-align:center;
}

h1, h2 {
    color: 0x333333;
}

div.ournames {
    text-align:center;
}
