/* CS109a.css */

body {
    background-color: white;
    font-family: 'Georgia', serif;
    margin-left: .5in;
    margin-right: .5in;
    line-height: 150%;
}

h1 {
    margin-top: 2%;
    text-align:center;
}

h1, h2 {
    color: #333333;
}

div.ournames {
    text-align:center;
}

div.summary_table {
    font-family: 'Verdana', sans-serif;
    font-size: 10pt;
    margin-left: 5%;
}

div.summary_table tbody {
    text-align: right;
}

div.summary_table tbody th,
div.summary_table tbody td {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

hr {
    color: #777777;  
    width: 75%;
    margin-left: 0%;
}

img {
    margin-left: 5%;
}

table.predictors {
    font-family: 'Courier', 'Courier New', fixed;
}

table.predictors td:nth-of-type(2) {
    text-align: right;
}

table tr:nth-of-type(odd) {
    background-color: #d0d0d0;
}

ul.toc {
    margin-bottom: 2%;
}
